@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");
@import url("font-awesome.min.css");

.calcWidth(@base, @lint) {
  @width: @base - @lint;
	width: @width;
}

@xs-min: (@xs-max + 1);
@xs-max: 480px;
@sm-min: (@xs-max + 1);
@sm-max: 768px;
@md-min: (@sm-max + 1);
@md-max: 992px;
@lg-min: (@md-max + 1);
@lg-max: 1200px;

@contact-bg-color: #fddf96;
@chat-info-bg-color: #fccc56;
@chat-talk-bg-color: #fde5ab;
@text-area-bg-color: #fdd981;

@chat-contact-bg-color: #FFFFFF;
@chat-user-bg-color: #fddf96;

*{
	font-family: 'Source Sans Pro';   
}

body{
	margin: 0;
	padding: 0; 
}

.content{
	position: absolute;
	margin: auto;
	left: 0; right: 0;
	height: 98%;
  background: @chat-talk-bg-color;
	
  @media (max-width: @sm-max) {
		width: 100%;
		height: 100%;
	}
  
  @media (min-width: @md-min) and (max-width: @md-max) {
    .calcWidth(@md-min, 30);
  }
  
  @media (min-width: @lg-min) {
		.calcWidth(@lg-min, 30);
	}
	
	.contacts{
		width: 20%;
		height: 100%;
		float: left;
		position: relative;
		background: @contact-bg-color; 
		ul{
			margin: 0;
		}
	}

	.chat{
		float: left;
		position: relative;
		width: 80%;
		height: 100%;
		.chat-info{
			width: 100%;
			height: 100px;
			background: @chat-info-bg-color;
			ul{
				margin: 0;
			}
		}
		.chat-talk{
			width: 100%;
			background: @chat-talk-bg-color;
			ul{
				margin: 0;
        padding-left: 50px;
        padding-right: 50px;
        list-style-type: none;
				li{
					&.contact{
						text-align: left;
            span{
              background: @chat-contact-bg-color;
            }
					}
					&.user{
						text-align: right;
            span{
              background: @chat-user-bg-color;
            }
					}
          span{
            border-radius: 3px;
            padding: 2px;
            width: auto;
            font-size: 16px;
            span{
  						font-size: 14px;
  					}
          }
				}
			}
		}
		.text-area{
			width: 100%;
			height: 100px;
			background: @text-area-bg-color;
      position: absolute;
      bottom: 0;
      
			textarea{
				width: 90%;
				height: 100%;
			}
			a{
				span{
					height: 30px;
					width: 9%;
				}
			}
		}
	}
}