@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");
@import url("font-awesome.min.css");
* {
  font-family: 'Source Sans Pro';
}
body {
  margin: 0;
  padding: 0;
}
.content {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  height: 98%;
  background: #fde5ab;
}
@media (max-width: 768px) {
  .content {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .content {
    width: 739px;
  }
}
@media (min-width: 993px) {
  .content {
    width: 963px;
  }
}
.content .contacts {
  width: 20%;
  height: 100%;
  float: left;
  position: relative;
  background: #fddf96;
}
.content .contacts ul {
  margin: 0;
}
.content .chat {
  float: left;
  position: relative;
  width: 80%;
  height: 100%;
}
.content .chat .chat-info {
  width: 100%;
  height: 100px;
  background: #fccc56;
}
.content .chat .chat-info ul {
  margin: 0;
}
.content .chat .chat-talk {
  width: 100%;
  background: #fde5ab;
}
.content .chat .chat-talk ul {
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  list-style-type: none;
}
.content .chat .chat-talk ul li.contact {
  text-align: left;
}
.content .chat .chat-talk ul li.contact span {
  background: #FFFFFF;
}
.content .chat .chat-talk ul li.user {
  text-align: right;
}
.content .chat .chat-talk ul li.user span {
  background: #fddf96;
}
.content .chat .chat-talk ul li span {
  border-radius: 3px;
  padding: 2px;
  width: auto;
  font-size: 16px;
}
.content .chat .chat-talk ul li span span {
  font-size: 14px;
}
.content .chat .text-area {
  width: 100%;
  height: 100px;
  background: #fdd981;
  position: absolute;
  bottom: 0;
}
.content .chat .text-area textarea {
  width: 90%;
  height: 100%;
}
.content .chat .text-area a span {
  height: 30px;
  width: 9%;
}
