@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");
@import url("font-awesome.min.css");

@screen-xs: 45;
@screen-sm: 45;
@screen-md: 45;
@screen-lg: 45;

*{
	font-family: 'Source Sans Pro';   
}

body{
	margin: 0;
	padding: 0; 
	
	.content{
		@media (max-width: @screen-xs) {
			
		}
		@media (min-width: @screen-xs) and (max-width: @screen-sm) {
			
		}
		@media (min-width: @screen-sm) and (max-width: @screen-md) { 
			
		}
		@media (min-width: @screen-lg) {
			
		}
		
		.contacts{ 
			
		}

		.chat{
			
			.chat-info{
				
			}
			.chat-talk{
						
			}
			.text-area{
						
			}
		}
	}
}