@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");
@import url("font-awesome.min.css");
* {
  font-family: 'Source Sans Pro';
}
body {
  margin: 0;
  padding: 0;
}
.content {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  height: 98%;
  width: 90%;
}
@media (max-width: 768px) {
  .content {
    width: 100%;
    height: 100%;
  }
}
.content .contacts {
  width: 20%;
  height: 100%;
  float: left;
  position: relative;
  background: #fddf96;
}
.content .contacts ul {
  margin: 0;
}
.content .chat {
  float: left;
  position: relative;
  width: 80%;
  height: 100%;
}
.content .chat .chat-info {
  width: 100%;
  height: 100px;
  background: #fccc56;
}
.content .chat .chat-info ul {
  margin: 0;
}
.content .chat .chat-talk {
  width: 100%;
  background: #fde5ab;
}
.content .chat .chat-talk ul {
  margin: 0;
}
.content .chat .chat-talk ul li.contact {
  text-align: left;
}
.content .chat .chat-talk ul li.user {
  text-align: right;
}
.content .chat .chat-talk ul li span:first-child {
  font-size: 14px;
}
.content .chat .chat-talk ul li span:last-child {
  font-size: 16px;
}
.content .chat .text-area {
  width: 100%;
  height: 100px;
  background: #fdd981;
}
.content .chat .text-area textarea {
  width: 90%;
  height: 100%;
}
.content .chat .text-area a span {
  height: 30px;
  width: 9%;
}
