<!DOCTYPE html>
<html ng-app="Chatter">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>NaCamufla</title>
		<link rel="icon" href="favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/main.css">
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
		<script src="js/angular.min.js"></script>
		<script data-require="angular-sanitize@*" data-semver="1.2.5" src="js/angular-sanitize.js"></script>
		<script src="js/Chatter.js" type="text/javascript"></script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-81725954-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</head>
	<body>

		<div ng-controller="userCtrl" class="welcome {{ control ? 'show' : ''}}">
			<div class="content">
				<span class="chatter">NaCamufla</span><br>
				<input type="text" ng-keyup="keyEnter($event)"  ng-model="name" placeholder="Type your name"><br>
				<span class="button" ng-click="setUser()">Enter</span>
			</div>
		</div>

		<div ng-controller="aboutCtrl" class="about-content {{ open ? 'show' : ''}}" ng-click="closeAbout()">
			<div class="content">
				<h1>About</h1><br>
				<h2>Developed by:</h2>
				<span>- <a href="http://kelvinbiffi.github.io/" target="_blank">Kelvin Biffi</a> Front-end</span><br>
				<span>- <a href="http://wesleyosorio.xyz/" target="_blank">Wesley Osorio</a> Back-end</span><br>
				<br>
				<h2>GITHUB</h2>
				<span>- <a href="https://github.com/kelvinbiffi/NaCamufla" target="_blank">NaCamufla</a></span>
			</div>
		</div>

		<div class="chat">
			<div class="content">
				<!-- Contact section -->
				<div ng-controller="roomsCtrl" class="rooms {{ (roomsOpen == true ? 'open' : '') }}">
					<span class="close fa fa-times" ng-click="closeRooms()"></span>
					<ul>
						<li ng-repeat="x in user" class="user">
							<span class="code">{{x.code}}</span>
							<span class="name">{{x.name}}</span><br>
							<span class="user">{{x.user}}</span><br>
						</li>
					</ul>
					<ul id="listRooms" class="listRooms">
						<li class="about" ng-click="openAbout()">
							<span>ABOUT</span><br>
						</li>
						<li class="new-chat {{ (createChatDisabled == true ? 'disabled' : '') }}" ng-click="createChatDisabled || createNewRoom()">
							<span class="fa fa-plus-circle"></span>
						</li>
						<li ng-repeat="x in rooms" class="room {{ (x.room == chatService.room ? 'selected' : '') }}" ng-click="loadChat(x)">
							<span class="roomId"></span>
							<span class="name">{{x.room}}</span><br>
							<span class="user">{{x.size}}</span><br>
						</li>
					</ul>
				</div>

				<!-- chat section -->
				<div id="chat" class="chat" ng-controller="chatCtrl">
					<!-- Info chat section -->
					<div class="chat-info">
						<span class="rooms-buttons fa fa-bars" ng-click="openRooms()"></span>
						<div class="profile-img"></div>
						<span class="name"></span>
						<ul>
							<li ng-repeat="x in chatInfo">
								<span class="name">{{x.room}}</span>
								<span class="user">{{x.size}}</span><br>
							</li>
						</ul>
					</div>

					<div id="tuts" class="tuts {{ (tutsOpen == false ? 'hidden' : '') }}" >
						<div class="info">
							<h1>Welcome to Chatter</h1>
							<p class="mobile">Tap the hamburger icon <span class="hamburger fa fa-bars"></span> to open the rooms menu and</p>
							<p>select or create a new room to start a chat</p>
						</div>
					</div>

					<!-- Info chat section -->
					<div id="chat-talk" class="chat-talk {{ (tutsOpen == true ? 'hidden' : '') }}" >
						<ul>
							<li ng-repeat="x in chatTalk track by $index" class="{{ (user[0].user !== x.nick ? 'room' : 'user') }} {{ (x.nick == 'chatter-info-in-chat' ? 'info-in-chat' : '') }}">
								<div class="chat-talk-info">
									<span ng-if="x.nick !== 'chatter-info-in-chat'" class="chat-user-name" alt="{{ x.nick }}">{{ (x.nick !== chatTalk[$index-1].nick ? x.nick : "") }}</span>
									<br ng-if="x.nick !== chatTalk[$index-1].nick && x.nick !== 'chatter-info-in-chat'">
									<span class="chat-user-text" ng-bind-html="textService.urlify(x.msg)"></span>
									<span class="fa fa-caret-{{ ((user[0].user !== x.nick ? 'room' : 'user') == 'user' ? 'right' : 'left') }}
									last-message {{ (user[0].user !== x.nick ? 'room' : 'user') }}" ng-if="x.nick !== chatTalk[$index+1].nick"></span>
								</div>
							</li>
						</ul>
					</div>

					<!-- textarea section -->
					<div class="text-area {{ (tutsOpen == true ? 'hidden' : '') }}" >
						<div class="emoticons">

						</div>
						<div class="field">
							<textarea name="name" ng-keyup="keyEnter($event)" placeholder="Type a message" ng-model="textArea"></textarea>
						</div>
						<div class="button">
							<span class="fa fa-chevron-right" ng-click="sendMessage()"></span>
						</div>
					</div>
				</div>
				<!--div id="chat" class="chat" ng-controller="chatCtrl">

				</div-->
			</div>
		</div>

		<script src="js/jquery-3.0.0.min.js" type="text/javascript"></script>
		<script src="js/jQuery.js" type="text/javascript"></script>
	</body>
</html>
